Repository hikiko4ern/swc-plugin-minify-graphql: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, clippy, biome, dprint, type-check

lefthook.yml:

# spell-checker: ignore esac

pre-commit:
  parallel: true
  commands:
    rustfmt:
      glob: '*.rs'
      run: cargo fmt -- "{staged_files}"
      stage_fixed: true
    clippy:
      glob: '{*.rs,Cargo.toml,Cargo.lock,rust-toolchain.toml}'
      run: cargo clippy -- -D warnings
    biome:
      glob: '*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}'
      run: pnpm biome check --write --error-on-warnings {staged_files}
      stage_fixed: true
    dprint:
      glob: '*.{json,jsonc,json5,md,toml}'
      run: pnpm dprint fmt "{staged_files}"
      stage_fixed: true
    type-check:
      glob: 'fuzz/scripts/**/*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}'
      run: pnpm tsc -p fuzz/tsconfig.json --noEmit
    spell-check:
      run: pnpm cspell lint --no-progress --no-summary --no-must-find-files "{staged_files}"

style(rustfmt): change `imports_granularity` to `Module`
  cliff.toml
  packages/graphql-minify/src/block_string.rs
  packages/graphql-minify/src/lexer.rs
  rustfmt.toml
  src/lib.rs
  src/str_span.rs
  src/visitor.rs
Due: rustfmt, clippy, dprint

chore(release): v0.3.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
Due: clippy, dprint

docs(readme): add list of public repository mirrors
  README.md
  cspell.json
Due: dprint

chore!: update `swc_core` to `46`
  Cargo.lock
  Cargo.toml
  README.md
  src/visitor.rs
Due: rustfmt, clippy, dprint

chore(release): v0.4.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
Due: clippy, dprint

chore!: update `swc_core` to `55`
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  README.md
  cspell.json
  packages/graphql-minify/src/lib.rs
  packages/graphql_semantic_compare/src/lib.rs
  src/lib.rs
Due: rustfmt, clippy, dprint

refactor: remove `unsafe` usage from `Minifier::minify_tpl`
  src/visitor.rs
Due: rustfmt, clippy

refactor(dev): remove `unsafe` usage from `graphql_semantic_compare`
  packages/graphql_semantic_compare/src/description.rs
  packages/graphql_semantic_compare/src/lib.rs
Due: rustfmt, clippy

docs: add `cannot break GraphQL tokens` example with string
  README.md
  src/lib.rs
Due: rustfmt, clippy, dprint

chore(release): v0.5.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  package.json
Due: clippy, dprint
